<%= form_with model: @photo do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>
    <%= form.submit 'Create Photo Product', :class => ['button', 'is-info'] %>
<% end %>
