<p style="color: green"><%= notice %></p>

<%= render @photo %>

<% if admin_signed_in? %>
<div>
  <%= link_to "Edit this photo", edit_photo_path(@photo) %> |
  <%= link_to "Back to photos", photos_path %>

  <%= button_to "Destroy Photo", @photo, method: :delete %>
</div>
<% end %>
