<p style="color: green"><%= notice %></p>

<%= render @card %>

<% if admin_signed_in? %>
<div>
  <%= link_to "Edit this card", edit_card_path(@card) %> |
  <%= link_to "Back to cards", cards_path %>

  <%= button_to "Destroy Card", @card, method: :delete, :class => ['button', 'is-info'] %>
</div>
<% end %>
