<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.prodigitalphotos.com/home">
      <%= image_tag "logo.png", :class => ['custom_logo'] %>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
	  <div class="navbar-end">
		  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" >
    			    Card Store	
                        </a>
                        <div class="navbar-dropdown">
                          <% Card.all.each do |card| %>
                              <a class="navbar-item" href="/cards/<%= card.id %>">
                                <%= card.title %>
                              </a> 
                          <% end %>
                        </div>
                  </div>

		  <div class="navbar-item has-dropdown is-hoverable">
  			<a class="navbar-link">
    			    Photo Products
  			</a>
                        <div class="navbar-dropdown">
                          <% Photo.all.each do |photo| %>
                              <a class="navbar-item" href="/cards/<%= photo.id %>">
                                <%= photo.title %>
                              </a> 
                          <% end %>
                        </div>
  		  </div>
		    <a class="navbar-item">
                        Information
  		    </a>
		      <a class="navbar-item">
    			Help
                      </a>
                      <% if admin_signed_in? %>
                        <%= link_to 'Log Out', destroy_admin_session_path,data: { turbo_method: :delete }, class: 'navbar-item' %>
                      <% end %>
		</div>
	  </div>
  </div>	  
</nav>
