<!DOCTYPE html>
<html>
  <head>
    <title>Photolab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class='content column is-9 container is-centered py-4'>
      <%= yield %>
    </div>
  </body>
</html>
